<%-include('partials/head') %> <%-include('partials/header') %>
<h3 class="text-center"><b>&lt;Admin Panel &gt;</b></h3>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h4 class="text-center"><b>Agregar Post /&gt;</b></h4>
      <form action="#" id="form-guardar">
        <div class="mb-3">
          <input
            type="text"
            id="titulo-post"
            class="form-control"
            placeholder="Título del Post"
          />
        </div>

        <!--<div class="mb-3">
          <div class="form-floating">
            <textarea
              id="detalle-post"
              class="form-control"
              placeholder="Ingrese detalle"
              id="floatingTextarea2"
              style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">Contenido</label>
          </div>
        </div>-->

        <div class="mb-3">
          <div class="form">
            <textarea
              id="detalle-post"
              class="form-control"
              placeholder="Contenido"
              style="height: 100px"
            ></textarea>
          </div>
        </div>

        <div class="mb-3">
          <input type="date" name="" id="fecha" class="rounded" />
        </div>

        <div class="mb-3">
          <input
            type="text"
            id="url-img"
            class="form-control"
            placeholder="Url imagen"
          />
        </div>
        <button type="submit" id="btn-guardar" class="btn btn-primary mb-5">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>

<script src="/js/admin.js"></script>

<%-include('partials/footer') %>
