<%-include('partials/head') %>
<h3 class="text-center"><b>&lt;Admin Panel &gt;</b></h3>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h4 class="text-center"><b>Eliminar Post /&gt;</b></h4>

      <form action="#" id="form-guardar" data-id="<%= id  %>">
        <div class="mb-3">
          <input
            type="text"
            id="titulo-post"
            class="form-control"
            placeholder="Título del Post"
          />
        </div>

        <div class="mb-3">
          <div class="form">
            <textarea
              id="detalle-post"
              class="form-control"
              placeholder="Contenido"
              style="height: 100px"
            ></textarea>
          </div>
        </div>
        <div class="d-flex">
          <div class="mb-3 p-0">
            <input
              type="text"
              id="autor"
              class="form-control"
              placeholder="Autor del Post"
            />
          </div>
          <div class="mb-3 mx-3">
            <input type="date" name="" id="fecha" class="form-control" />
          </div>
        </div>

        <div class="mb-3">
          <input
            type="text"
            id="url-img"
            class="form-control"
            placeholder="Url imagen"
          />
        </div>

        <div class="text-center">
          <button
            type="submit"
            id="btn-guardar"
            class="btn btn-dark mb-5"
            value="Guardar"
          >
            Eliminar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/eliminar.js"></script>

<%-include('partials/footer') %>
