<%-include('partials/head') %> <%-include('partials/header') %>

<!-- Formulario para crear publicaciones -->
<div class="text-center">
  <h1><b>Hola, soy Diego</b></h1>
  <p><b>&lt; Desarrollador FullStack Argentina Programa /&gt;</b></p>
  <img
    src="https://www.hostingplus.mx/wp-content/uploads/2021/03/desktop-source-code-and-wallpaper-by-computer-language-with-coding-and-programming.jpg"
    class="img-inicio rounded"
    alt="Imagen de una pantalla con codigo"
  />
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center py-3"><b> Ultimos Post /&gt</b></h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <main class="d-flex flex-column" id="lista-publicaciones"></main>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>

<%-include('partials/footer') %>
