* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(103, 133, 133, 0.623);
  font-family: "Gruppo", sans-serif;
}

.img-inicio {
  height: 300px;
  width: 500px;
}

img {
  height: 15%;
  width: 15%;
}

section {
  font-size: 15px;
}

section a {
  height: 40px;
  width: 70px;
}

footer {
  background-color: black;
  height: 100px;
  color: white;
  text-align: center;
}
